// src/components/Drawer.scss

.drawer {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #333;
    transition: left 0.3s ease;
  
    &.open {
      left: 0;
    }
  
    .toggle-button {
      background-color: #555;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      margin: 20px 0 0 200px;
    }
  }
  